![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [86]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy'(used to showcase things...small and clean for teaching purposes) data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [87]:
!pwd

/Users/bryankeating/Documents/Flatiron/DS-Live-040422/Phase1

In [88]:
!ls data

Austin_Animal_Center_Intakes-clean-year.csv
OpenFoodFacts.csv
heart.csv
new_releases.json
plants.json

In [89]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [90]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [91]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [92]:
# Let's grab just one column
age_series = heart_df['age']

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [93]:
#another way - but only works if (read above)

In [94]:
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [95]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [96]:
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [97]:
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [98]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [99]:
age_series.columns
# This will throw an error!

AttributeError: 'Series' object has no attribute 'columns'

In [100]:
#but you can access the columns name with the name attribute
age_series.name

'age'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [101]:
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [102]:
heart_df.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

### `.tail()` : last 5 rows

In [103]:
heart_df.tail(7)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [104]:
age_series.head()

0    63
1    37
2    41
3    56
4    57
Name: age, dtype: int64

### `.info()` : information about the columns, including about nulls in those columns

In [105]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [106]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [107]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [108]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [109]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [110]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [111]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

In [112]:
age_series.max()

77

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [113]:
# Accessing a CSV from a url
intakes_url = pd.read_csv("https://data.austintexas.gov/resource/wter-evkm.csv")

In [114]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json("https://data.austintexas.gov/resource/wter-evkm.json")

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A854758,Dakota,2022-04-08 11:55:00,2022-04-08T11:55:00.000,Austin (TX),Owner Surrender,Normal,Dog,Unknown,7 months,German Shepherd,White/Cream
1,A854751,Bubba,2022-04-08 07:51:00,2022-04-08T07:51:00.000,4434 Frontier Trail in Austin (TX),Owner Surrender,Injured,Dog,Intact Male,3 months,Chihuahua Shorthair,Tan
2,A854743,NaN,2022-04-08 01:51:00,2022-04-08T01:51:00.000,E Hwy 71 And 183 in Austin (TX),Stray,Injured,Dog,Intact Male,3 years,Pit Bull/Labrador Retriever,Black/White
3,A854742,Zuzu,2022-04-07 23:45:00,2022-04-07T23:45:00.000,1070 Mearns Meadow Blvd in Austin (TX),Stray,Injured,Dog,Intact Male,2 months,Belgian Malinois Mix,Brown/Black
4,A854741,A854741,2022-04-07 22:32:00,2022-04-07T22:32:00.000,2326 East Cesar Chavez Street in Austin (TX),Stray,Injured,Cat,Intact Male,11 months,Domestic Shorthair,Gray Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A852530,Laidee,2022-03-04 15:07:00,2022-03-04T15:07:00.000,1156 W Cesar Chavez St in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Rottweiler/Labrador Retriever,Black/Tan
996,A852529,NaN,2022-03-04 15:03:00,2022-03-04T15:03:00.000,4512 Little Hill Cir in Austin (TX),Stray,Injured,Dog,Intact Male,4 months,Pit Bull,Brown/Black
997,A852531,Bruno,2022-03-04 14:55:00,2022-03-04T14:55:00.000,501 South Highway 183 in Austin (TX),Stray,Normal,Dog,Unknown,5 years,Chihuahua Shorthair Mix,Black
998,A852532,Bear,2022-03-04 14:25:00,2022-03-04T14:25:00.000,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black/White
999,A852523,*Hank,2022-03-04 12:24:00,2022-03-04T12:24:00.000,Riverstone And Garcreek in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Siberian Husky/Labrador Retriever,Black/Brown

In [115]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [116]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
!ls Data

Austin_Animal_Center_Intakes-clean-year.csv
OpenFoodFacts.csv
heart.csv
new_releases.json
plants.json

In [117]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv("data/Austin_Animal_Center_Intakes-clean-year.csv")

In [118]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [119]:
# Check the last 5 rows
df.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [120]:
# Check the shape
df.shape

(136763, 12)

In [121]:
# Check the datatypes
df.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [122]:
# Check more general information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [123]:
# Check summary/descriptive statistics on the dataframe
df.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

- Just shows the 'Year' column - it's the only numeric column!

In [124]:
# We can run describe on just the string columns! Gives a different kind of output  (example) 
df.describe(include=['O'])

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136763,95772,136763,136763,136763,136763,136763,136762,136763,136763,136763
unique,122244,23058,96160,57763,6,15,5,5,53,2734,614
top,A721033,Max,2016-09-23 12:00:00,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,620,64,25674,94180,117867,77098,44962,23422,32034,14291

#### Any Observations?

- Can see non-null counts, number of uniques, plus the most frequent and how frequent it is
- Showcases the different kind of useful data you can explore when it's object vs numeric columns

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [125]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'Year': [2022],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

In [126]:
type(next_row)

dict

How can we add this to the bottom of our dataset?

In [127]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

new_animal = pd.DataFrame.from_dict(next_row)
new_animal

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [128]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([df, new_animal],
                         ignore_index=True)
#if set to False, it will be indexed at 0;; and yes this means that two things would be indexed at zero(aaaand it 
#be at the bottom of the list)
#if put new_animal, df ... then it would add to the top of the list

In [129]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

### Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [130]:
# Create a new column, 'test', where every value in the col is 0
df['test'] = 0

In [131]:
# Sanity check
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0

But we don't need that - let's drop that column.

In [132]:
# Drop that test column
# df.drop('test', axis =1) 

# df.drop('test', axis='columns')

df.drop(coulmns="test")

TypeError: drop() got an unexpected keyword argument 'coulmns'

In [133]:
# Sanity check - these will make the change in place
df.drop(columns="test", inplace = True)

#or

#this will make the change in place and return an output
#df = df.drop(columns="test")

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [134]:
# Create a new column, 'Type', from the two 'Type' columns
df['Type'] =  df['Intake Type'] + " " + df['Animal Type']

In [135]:
# Sanity check
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

## Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [136]:
# Check which rows have an intake year greater than or equal to 2020
df["Year"] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136758     True
136759     True
136760     True
136761     True
136762     True
Name: Year, Length: 136763, dtype: bool

In [137]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020  (it is summating the total # of "true" = 1)
(df["Year"] >= 2020).sum()

23269

But this only gives us True/False outputs... what if we want to really filter?

### `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [142]:
# Create a subset dataframe of animals taken in during or after 2020
subset_df = df.loc[df['Year'] >= 2020]

We can return only certain columns when we do this, by adding an argument after the condition:

In [143]:
subset_df[['Animal ID', 'DateTime', 'Type']]

       Animal ID             DateTime                 Type
7        A844350  2021-10-15 11:40:00            Stray Cat
9        A818975  2020-06-18 14:53:00            Stray Cat
22       A831808  2021-04-02 11:16:00  Owner Surrender Cat
24       A836850  2021-06-15 12:37:00    Public Assist Dog
26       A815227  2020-03-12 13:52:00            Stray Dog
...          ...                  ...                  ...
136758   A852238  2022-02-28 14:02:00            Stray Dog
136759   A852221  2022-02-28 11:05:00            Stray Dog
136760   A851977  2022-02-22 13:34:00            Stray Dog
136761   A852127  2022-02-25 13:05:00            Stray Dog
136762   A852194  2022-02-27 13:44:00            Stray Dog

[23269 rows x 3 columns]

In [158]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df.loc[df["Year"] >= 2020, ['Animal ID', 'DateTime', 'Type']]

#same as 
df.loc[df['Year'] >= 2020][['Animal ID', 'DateTime', 'Type']]

       Animal ID             DateTime                 Type
7        A844350  2021-10-15 11:40:00            Stray Cat
9        A818975  2020-06-18 14:53:00            Stray Cat
22       A831808  2021-04-02 11:16:00  Owner Surrender Cat
24       A836850  2021-06-15 12:37:00    Public Assist Dog
26       A815227  2020-03-12 13:52:00            Stray Dog
...          ...                  ...                  ...
136758   A852238  2022-02-28 14:02:00            Stray Dog
136759   A852221  2022-02-28 11:05:00            Stray Dog
136760   A851977  2022-02-22 13:34:00            Stray Dog
136761   A852127  2022-02-25 13:05:00            Stray Dog
136762   A852194  2022-02-27 13:44:00            Stray Dog

[23269 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [146]:
# Find all the Stray Cats taken in during or after 2020
df.loc[(df["Type" == "Stray Cat") & (df["Year"] >= 2020)]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2831869818.py, line 2)

## Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented.loc[(df_augmented['Animal Type'] == 'Dog') & (df_augmented['Intake Condition'] != 'Normal')]
```
</details>

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented[(df_augmented['Sex upon Intake'] == 'Intact Male') |
             (df_augmented['Sex upon Intake'] == 'Intact Female')]
```
</details>

### `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [147]:
# Find the first 3 rows
df.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog

In [149]:
# Same as using head(3)
df.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog

In [159]:
# Can look exactly where the 0 index is
df.iloc[400]

Animal ID                                      A795742
Name                                               NaN
DateTime                           2019-05-24 10:22:00
Year                                              2019
Found Location      7404 B Geneva Drive in Austin (TX)
Intake Type                                      Stray
Intake Condition                                Normal
Animal Type                                        Dog
Sex upon Intake                            Intact Male
Age upon Intake                                2 years
Breed                                    Cairn Terrier
Color                                      Cream/Brown
Type                                         Stray Dog
Name: 400, dtype: object

In [155]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_df.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,Stray Cat
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,Stray Cat
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,Owner Surrender Cat

In [156]:
# Try it...
subset_df.iloc[0]

Animal ID                                                 A844350
Name                                                        *Ella
DateTime                                      2021-10-15 11:40:00
Year                                                         2021
Found Location      2112 East William Cannon Drive in Austin (TX)
Intake Type                                                 Stray
Intake Condition                                           Normal
Animal Type                                                   Cat
Sex upon Intake                                     Intact Female
Age upon Intake                                          6 months
Breed                                          Domestic Shorthair
Color                                                 Brown Tabby
Type                                                    Stray Cat
Name: 7, dtype: object

## Series Methods

### `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [160]:
df["Animal Type"]

0         Dog
1         Dog
2         Dog
3         Cat
4         Dog
         ...
136758    Dog
136759    Dog
136760    Dog
136761    Dog
136762    Dog
Name: Animal Type, Length: 136763, dtype: object

In [161]:
df["Animal Type"].value_counts()

Dog          77098
Cat          51752
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [162]:
# Check the value counts for Animal Type
df["Animal Type"].value_counts()

Dog          77098
Cat          51752
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [164]:
df["Animal Type"].unique()

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [165]:
# Now check Breed
df["Breed"].value_counts()

Domestic Shorthair Mix                       32034
Domestic Shorthair                           10440
Pit Bull Mix                                  8913
Labrador Retriever Mix                        7370
Chihuahua Shorthair Mix                       6486
                                             ...
Welsh Springer Spaniel/Labrador Retriever        1
Greater Swiss Mountain Dog                       1
Miniature Poodle/Pomeranian                      1
German Shepherd/Queensland Heeler                1
Brittany/St. Bernard Smooth Coat                 1
Name: Breed, Length: 2734, dtype: int64

In [167]:
# Use the normalize argument to change how the count is displayed
df["Breed"].value_counts(normalize = True)

Domestic Shorthair Mix                       0.234230
Domestic Shorthair                           0.076336
Pit Bull Mix                                 0.065171
Labrador Retriever Mix                       0.053889
Chihuahua Shorthair Mix                      0.047425
                                               ...
Welsh Springer Spaniel/Labrador Retriever    0.000007
Greater Swiss Mountain Dog                   0.000007
Miniature Poodle/Pomeranian                  0.000007
German Shepherd/Queensland Heeler            0.000007
Brittany/St. Bernard Smooth Coat             0.000007
Name: Breed, Length: 2734, dtype: float64

### `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [168]:
# Let's sort the year column
df['Year'].sort_values(ascending = False)

136762    2022
135587    2022
135572    2022
135573    2022
135575    2022
          ...
124294    2013
90281     2013
49519     2013
80137     2013
113072    2013
Name: Year, Length: 136763, dtype: int64

In [169]:
# Now, sort the Animal Type col
df['Animal Type'].sort_values

<bound method Series.sort_values of 0         Dog
1         Dog
2         Dog
3         Cat
4         Dog
         ...
136758    Dog
136759    Dog
136760    Dog
136761    Dog
136762    Dog
Name: Animal Type, Length: 136763, dtype: object>

In [170]:
# We can do this on the whole dataframe, it just needs to know what to sort by
df.sort_values(by='Year')

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
13061,A667397,*Gaby,2013-11-17 13:51:00,2013,710 East Ben White Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair,Tricolor,Stray Dog
31112,A667458,Chino,2013-11-18 13:19:00,2013,8401 Research Blvd. in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Pit Bull Mix,Tan/White,Stray Dog
74446,A612281,Luna,2013-12-20 13:37:00,2013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,3 years,Catahoula Mix,Brown Merle/White,Owner Surrender Dog
82804,A661693,Dino,2013-12-29 15:56:00,2013,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/Tan,Public Assist Dog
118202,A666273,*Jasmine,2013-10-29 16:16:00,2013,1310 Byers in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Boxer/Pit Bull,Brown/White,Stray Dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135555,A849089,*Leon Redbone,2022-01-02 08:02:00,2022,4434 Frontier Trail in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Redbone Hound/Greyhound,Brown,Stray Dog
135554,A850252,*Bellabelle,2022-01-21 08:00:00,2022,Austin (TX),Stray,Sick,Dog,Intact Female,1 year,Labrador Retriever,Black/White,Stray Dog
135553,A770617,*Batgirl,2022-01-20 16:25:00,2022,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,6 years,Pit Bull Mix,Fawn/White,Owner Surrender Dog
135566,A850439,Chai,2022-01-24 15:35:00,2022,Austin (TX),Owner Surrender,Normal,Other,Intact Male,7 months,Guinea Pig,White/Tricolor,Owner Surrender Other
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,Stray Dog

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.